# Swift

/.build
/Packages

/.swiftpm
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# Xcode 

xcuserdata/
DerivedData/
/*.xcodeproj

# macOS
.DS_Store
